<!Doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
        <link rel="stylesheet" href="{{ static_url("css/jquery.fs.dropper.css") }}" />
        <script src="{{ static_url("js/jquery.js") }}"></script>
        <script src="{{ static_url("js/jquery.fs.dropper.js") }}"></script>
        <script src="{{ static_url("js/common.js") }}"></script>

        <title>{% block title %}{% end %}</title>
    </head>
    <body>
        <div id="header">
            {% block header %}
            {% module header('header.html') %}
            {% end %}
        </div>
        <div id="main">
            {% block body %}{% end %}

        </div>
        <div id="footer">
            {% block footer%}
            {% module footer('footer.html') %}
            {% end %}

        </div>
        
    </body>
</html>
