{% extends "main.html" %}
{% block title %}
文件管理
{% end %}
{% block body %}
<div id="input_key_wrap">
    <form action="" method="POST">
    <div class="input_key_dir">
    <input type="text" class="input_key" name="file_key" placeholder="输入文件提取码" />
    <a class="btn_submit_key" href="javascript:void(0);">确 定</a>
    </div>
    </form>
</div>
<div id="manage_wrap" style="display:none">
    <img id="pci_summary" src="{{static_url('images/filetype/default.png')}}" class="pci_summary" src=""></img>
    <div id="file_name" class="file_name"> _</div>
    <div class="file_summary">
        <span>上传时间: <span id="upload_time">_</span></span>
        <span>过期时间: <span id="expired_time">_</span></span>
        <span>文件大小: <span id="file_size">_</span></span>
    </div>
    <div class="file_operation">
        <form target='' method='GET'>
        <input type="hidden" name="file_key" id="file_key" value="" />
        <a id="btn_file_down" style="float:left;background:green;" class="btn_file_operation" href="javascript:down_file()">下 载</a>
        <a style="float:right;background:red;" class="btn_file_operation" href="javascript:del_file()" id="btn_file_del">删 除</a>
        </form>
    </div>
    <div style="clear:both"></div>
</div>
<script>
    $('.input_key').focus();
$(document).ready(function(){
    $('#input_key_wrap form').submit(function (event){
        $.ajax({url: "/manage.py", 
            dataType:'json',
            type:'POST',
            data:{'file_key':$('.input_key_dir .input_key').val()},
            success:
            function (data){
                var error = data['error'];
                if (error){
                    alert(error);
                    return false;
                }
                $('#input_key_wrap').hide();
                $('#manage_wrap #file_name').html(data['file_name']);
                $('#manage_wrap #upload_time').html(DateToString(data['upload_time']));
                $('#manage_wrap #expired_time').html(DateToString(data['expired_time']));
                $('#manage_wrap #file_size').html(data['file_size']);
                $('#manage_wrap #file_key').val(data['file_key']);

                if (data['content_type'].split('/')[0] == 'image'){
                    $('#pci_summary').attr('src', data['file_url']);
                }
                $('#manage_wrap').fadeIn();
        },});

        // 禁止默认事件的发现
        event.preventDefault();
        return false;
    });
    $('#input_key_wrap .btn_submit_key').click(function (event){
        $('#input_key_wrap form').submit();
        event.preventDefault();
    });
});

</script>
{% end %}
