{% extends "main.html" %}
{% block header_js %}
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url=/old" />
    <![endif]--> 
    <script src="{{static_url("js/jquery.fs.dropper.js")}}"></script>
    <script src="{{static_url("js/spark-md5.min.js")}}"></script>
{% end %}
{% block title %}
便捷云网盘 —— 疯狂的小企鹅
{% end %}
{% block body %}
<div id="wrap_content">
    <div id="wrap_file">
        <form method="POST" action='#' class="file_form">
            <div class="dropped"></div>
        </form>
        <div class="file_process">
            <div class="file_percent">
            </div>
        </div>
    </div>
    <a class="btn_management" href="/manage.py">管理已上传文件</a>
</div>
<script>
    $(document).ready(function() {
        start_file_upload();
    });

</script>
{% end %}

