body{
    margin:0px;
    font-family: arial,helvetica,sans-serif;
    background-color:#fff;
    word-break: break-all;
}
a{
    text-decoration:none;
    cursor:pointer;
}
input[type="checkbox"]{
    display:inline-block;
    border: 1px solid #ccc;
}
#main{
    overflow:hidden;
}
.b_bg{
    background-image:url('../images/bg_upload.jpg');
}
#wrap_content{
    width:900px;
    background-image: url(../images/bg_file.jpg);
    margin:0px auto;
    height:300px;
}
#header{
    background-image: url(../images/header_bg.gif);
    height:26px;
    text-align:right;
    line-height:26px;
    border-bottom:1px solid #bbb;
    text-indent:1em;
    font-size:14px;
}
#header a{
    color:#999;
    margin:0px 20px;
}
#header a:hover{
    border-bottom:2px solid #999;
}
#header #top_post_index{
    float:left;
    text-align:left;
    color:#3869AA;
    font-weight:bold;
}
#top_post_index span{
    color:#444;
    font-weight:normal;
}
#wrap_file{
    width:400px;
    padding-top:40px;
    margin:0px auto;
}
#wrap_file .file_process{
    display:none; width:100%;
    overflow:hidden;
    border: 2px solid #fff;
    height:140px;
    border-radius:12px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.2);
}
#wrap_file .file_process .file_percent{
    height:100%;
    background-color:#fff;
    color:yellow;
    font-size:17px;
    font-weight:bold;
    line-height:140px;
    text-align:center;
    width:0%;
}
#wrap_file .file_process:hover{
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}
.file_key{
    color:red;
}
.file_key_mess{
    float:left;
    margin:20px;
    line-height:100%;
}
.file_key_tip{
    color:#666;
    font-size:12px;
    clear:both;
}

#footer{
    padding-top:20px;
    border-top:1px solid #eee;
    color:#888;
    text-align:center;
}
#footer .footer_copy{
    font-size:14px;
}
.footer_copy a{
    color:#888;
}
.btn_management{
    display:block;
    width:120px;
    text-align:center;
    color:#666;
    border-radius:10px;
    padding:10px;
    background-color:#fff;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.2);
    margin:auto;
    margin-top:20px;
}
.btn_management:hover{
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
    font-weight:bold;
}
.btn_management:focus{
    outline:none;
}


/*下面是关于文件文件管理界面的*/
#input_key_wrap{
    width:700px;
    height:300px;
    margin:auto;
}
.input_key_dir{
    width:200px;
    margin:auto;
}
.input_key{
    margin-top:50px;
    height:30px;
    display:block;
    width:100%;
    border:1px solid #ccc;
    border-radius:10px 10px 10px 10px;
    text-align:center;
    padding:5px;
}
.input_key:focus{
    outline: 0px none;
    border-color:#66AFE9;
    box-shadow:0px 1px 1px 4px rgba(0, 0, 0, 0.075) inset, 0px 4px 8px 4px rgba(102, 175, 233, 0.6);
}
.btn_submit_key{
    font-size:15px;
    font-weight:bold;
    display:block;
    box-shadow:3px 3px 6px rgba(0, 0, 0, 0.2);
    margin:20px auto;
    width:30%;
    padding:6px 10px;
    border-radius:10px;
    color:#fff;
    text-align:center;
    outline:0px none;
    background-color:#188BED;

}
.btn_submit_key:hover{
    background-color:#1986E3;
}
.vip_bg{
    background-image: url(../images/vip.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.manage_wrap{
    width:750px;
    overflow:hidden;
    margin:20px auto;
    background-color:#fff;
    padding:10px;
    border-radius:15px;
    box-shadow:4px 4px 4px #CCC;
}
.manage_wrap .pci_summary{
    display:block;
    width:130px;
    margin:auto;
    margin-right:10px;
    height:130px;
    float:left;
    background-color:#fff;
    border-radius:15px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);

}
.manage_wrap .file_name{
    text-decoration:underline;
    text-align:center;
    margin:15px auto;
    font-size:18px;
    color:#444;
    font-weight:bold;
}
.manage_wrap .file_summary{
    text-align:center;
    color:#666;
}
.upload_time, .expired_time, .file_size{
    margin:2px 0px;
    margin-right:2px;
    font-weight:bold;
    font-size:14px;
}
.manage_wrap .file_operation{
    overflow:hidden;
    margin:20px auto;
    margin-bottom:10px;
    text-align:center;

}
.btn_file_operation, .btn_logout_email{
    display:inline-block;
    text-align:center;
    width:70px;
    padding:10px;
    margin:10px;
    outline:0px none;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    border-radius:15px;
}
.manage_wrap .btn_file_operation:hover{
    color:#ff0;
}
#code_wrap{
    visibility: hidden;
    margin-bottom:10px;
}
#code_wrap input{
    width:80px;
    height:25px;
    background-color: transparent;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    border:2px solid #fff;
    border-radius:10px;
}
#code_wrap img{
    margin-right:10px;
    border-radius:10px;
    float:left;
    height:30px;
    width:80px;
}
#update_browser{
    width:100%;
}
#update_browser span{
    color: #444;
    font-size:24px;
    font-weight:bold;
    padding:5px;
}
#browser_list a{
    color: #444;
}
#browser_list img{
    border:0px;
}
#update_browser .browser_a{
    display:inline-block;
    width:200px;
    height:200px;
}

#update_browser .browser_a:hover{
    background-color:#eee;
}
#post_box_index{
    z-index:9999;
    top:35px;
    left:50px;
    margin:0px;
    position:absolute;
}
.post_box{
    background-color:#fff;
    width:200px;
    text-align:left;
    border-radius:10px;
    padding:6px;
    margin:30px;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
    color:#444;
    font-size:14px;
    float:left;
    display:none;
}
.post_box .post_box_title{
    line-height:120%;
    color:#09c;
    border-bottom:1px solid #ccc;
    margin-bottom:5px;
}
.post_box .post_box_content{
    text-index: 2em;
    line-height:160%;
}
.post_box .post_box_footer{
    text-align:right;
    color:#666;
}
#post_box_list{
    width:60%;
    margin:auto;
}
.msg{
    width:250px;
    position:fixed;
    top:150px;
    left:0;
    right:0;
    border-radius:10px;
    margin:auto;
    background-color:#fff;
    padding:10px;
    border:1px solid #aaa;
}
.msg span{
    color:#666;
    font-size:14px;
    display:block;
    margin:6px 4px;
}
.msg li{
    list-style-type:none;
}
.msg strong{
    color:red;
}
.msg textarea, .msg input[type="text"]{
    width:95%;
    border:1px solid #ccc;
    resize: none;
    padding: 5px;
}
.msg textarea:focus, .msg textarea:hover, .msg input:focus, .msg input:hover{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.msg .m_btn{
    display:inline-block;
    margin:5px auto;
    padding:6px 10px;
    border-radius: 10px;
    font-size:14px;
}
.c_r{
    background-color:red;
    color:#fff
}
.c_r:hover{
    background-color:#D00;
}
.c_b{
    background-color:#09c;
    color:#fff;
}
.c_b:hover{
    background-color:#008BBA;
}
.c_g{
    background-color:#008000;
    color:#fff;
}
.c_g:hover{
    background-color:rgba(0, 117, 0, 1);
}

.msg_wrap{
    top:0px;
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    z-index:1px;
    background:none repeat scroll 0% 0% rgba(0, 0, 0, 0.52);
    left:0px;
}
#btn_add_file{
    position:fixed;
    top:10%;
    right:10%;
    z-index:99;
}
.btn_b{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
#up_process{
    position:fixed;
    bottom:0;
    left:0;
    width:0%;
    height:10px;
    background-color:#08CF08;
}
#add_file_form{
    display:none;
}
#footer_tips{
    margin-top: 4px;
    font-size:14px;
    font-weight:bold;
    display:none;
}
#footer_tips a{
    color:red;
    margin-left:10px;
}
.disable{
    pointer-events:none;
    color:#afafaf;
    cursor:default;
}
#login_email_wrap{
    display:none;
}
#login_email_wrap #login_email_input{
    border:0px;
    border-bottom:1px solid #ccc;
    padding:4px;
    background-color:transparent;
    width:100%;
    color:#666;
}
#btn_login_email{
    float:right;
    font-size:14px;
    color:#666;
    border-bottom:1px solid #666;
}
#btn_logout_email{
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 99;
    width: 120px;
    display:none;
}

#file_ercode{
    width: 100px;
    height: 100px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;
    display:none;
    bottom: 10%;
    right: 10%;
}
#qq_login_a div{
    width: 76px;
    height: 18px;
    display:inline-block;
    background-image: url(../images/qq_login.png);
    background-position: 0px -2px;
    background-repeat: no-repeat;
}
#qq_user_info_a{
    display:none;
}
