{%extends 'main.html'%}
{% block body %}
<ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
    <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br>今日上传<br><span id="today_num">_</span></a></li>
    <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-file-text"></span><br>昨日上传<br><span id='yesterday_num'>_</span></a></li>
    <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-file-text"></span><br>累计上传<br><span id='up_total_num'>_</span></a></li>
    <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-file-text"></span><br>当前数量<br><span id='save_total_num'>_</span></a></li>
</ul>
{% end %}
{% block footer_js %}
<script>
    $(document).ready(function(){$.ajax({url:'/api/resources', type:'GET',
        success:function(data){
            if (data['error']){
                show_error('获取失败');
            }else{
            var result = data['result'];
            for (key in result){
                $('#' + key).html(result[key]);
            }
        }
        },
        error:function(){
                show_error('获取失败');
    },});});
</script>

{% end %}
