    <div id="group_history_wrap">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">小组操作历史</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-hover">
                    <thead>
                        <tr>
                            <td>小组成员</td>
                            <td>小组邮箱</td>
                            <td>操作内容</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
