body{
    margin:0px auto;
    font-family: arial,helvetica,sans-serif;
    background-color:#fff;
    width:950px;
    background-color: #eee;
    word-break: break-all;
}
a, a:hover, a:focus{
    text-decoration:none;
    outline:0px none;
}
#main{
}
#footer{
    text-align:center;
    color:#777;
    font-size:14px;
}
#footer a{
    color:#777;
}
#footer a:hover{
    color:#444;
}
.share_box{
    margin:18px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-top:2px solid #fff;
    background-color:#fff;
    width:200px;
    border-radius:12px;
    overflow:hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display:none;
    float:left;
}
.share_box:hover{
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    border-top:2px solid #09c;
}

.box_header{
    font-weight:bold;
    text-align:center;
    overflow:hidden;
    color:#09c;
    border-bottom:1px solid #ccc;
    height:20px;
    padding-bottom:5px;
    font-size: 16px;
}
.box_footer{
    overflow:hidden;
    text-align:center;
}
.share_file_h_c a{
    display: inline-block;
    text-decoration:none;
    padding-top:2px;
    padding-bottom:2px;
    width:50%;
}
.share_up{
    background-color:#eee;
}
.share_down{
    background-color:#ccc;
}

.box_main{
    overflow:hidden;
    padding:5px;
    height:100px;
    color: #666;
}
#top_box{
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:800px;
    display:none;
}
.share_file_down{
    display:block;
    background-color:#09c;
    color:#fff;
    padding-top:4px;
    padding-bottom:4px;
    font-weight:bold;
}
.share_file_down:hover{
    color:#fff;
    background-color:rgba(0, 149, 198, 1);
}
