#l_main{
    width:270px;
    overflow:hidden;
}
#r_main{
    padding:10px;
    padding-bottom: 50px;
    width:auto;
    overflow:hidden;
}
#goToTop{
    position:fixed;
    display:none;
    bottom:10%;
    right:10%;
    z-index:100;
    width:28px;
    height:64px;
}
#goToTop a{
    display:block;
    width:100%;
    background-image:url(../images/goToTop.png);
    background-position:left top;
    height:100%;
}
#goToTop a:hover{
    background-position:right top;
}
#settings_wrap{
    padding-top:10px;
}
#top_success_mess, #top_error_mess, #top_warning_mess{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    display:none;
    text-align:center;
    margin:0px;
}
#account_settings{
    width:60%;
    min-width:200px;
    margin:auto;
}
#account_settings div{
    margin:20px;
}
#log_monitor_wrap{
    background-color: #000;
    color:#fff;
    font-size:16px;
    min-height:100px;
    padding:10px;
    margin-bottom:20px;
}
#log_monitor_wrap li{
    padding:4px 16px;
    list-style-type:none;
}
.error_log{
    color:red;
}
#post_table{
    width:100%;
}
#post_table td{
    padding:10px;
}
#list_post_operation a{
    margin:10px 5px;
    line-height:200%;
}
