#l_main{
    width:270px;
    overflow:hidden;
}
#r_main{
    padding:10px;
    width:auto;
    overflow:hidden;
}
#goToTop{
    position:fixed;
    display:none;
    bottom:10%;
    right:10%;
    z-index:100;
    width:28px;
    height:64px;
}
#goToTop a{
    display:block;
    width:100%;
    background-image:url(../images/goToTop.png);
    background-position:left top;
    height:100%;
}
#goToTop a:hover{
    background-position:right top;
}
#settings_wrap{
    padding-top:10px;
}
#top_success_mess, #top_error_mess{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    display:none;
    text-align:center;
    margin:0px;
}
#account_settings{
    width:60%;
    min-width:200px;
    margin:auto;
}
#account_settings div{
    margin:20px;
}
